In [4]:
import pandas as pd
!pip install -U pandasql
from pandasql import sqldf

Requirement already satisfied: pandasql in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.7.3)
Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandasql) (1.18.5)
Requirement already satisfied: sqlalchemy in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandasql) (1.4.31)
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandasql) (1.0.4)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas->pandasql) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: importlib-metadata in /srv/conda/envs/notebook/lib/python3.7/site-packages (from sqlalchemy->pandasql) (4.10.1)
Requirement already satisfied: greenlet!=0.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy->pandasql) (4.0.1)

In [5]:
mysql = lambda q: sqldf(q, globals())
products= pd.read_csv('Amazon_Products.csv', low_memory=False)

In [6]:
prod_clean = products.loc[:, ~products.columns.str.contains('^Unnamed')]

In [7]:
### base of all analysis ~
cleaned_base = """
SELECT * FROM (
SELECT uniq_id
, product_name
, manufacturer
, price
, coalesce(cast(number_available_in_stock as int),0) number_available_in_stock
, coalesce(cast(number_of_reviews as int),0) number_of_reviews
, coalesce(cast(number_of_answered_questions as int),0) number_of_answered_questions
, cast(substr(average_review_rating,1,3) as float) avg_review_rating_num
, amazon_category_and_sub_category
, description
, product_information
, product_description
, items_customers_buy_after_viewing_this_item
, customer_questions_and_answers
FROM prod_clean)
WHERE number_of_reviews > 10
AND uniq_id is not null 
AND length(uniq_id) > 1
"""
#category high level stats
category = """
SELECT distinct SUBSTR(category_and_sub_category,1,INSTR(category_and_sub_category,'>') -1) category_lvl_1
, avg(avg_review_rating_num) avg_rating
, avg(number_of_reviews) avg_reviews
, avg(number_of_answered_questions) avg_questions_answered
, COUNT(*) count_of_products 
, DENSE_RANK() over (ORDER BY  avg(number_of_reviews) DESC, count(*) DESC, avg(avg_review_rating_num) DESC) as popularity_rank
FROM (
SELECT uniq_id
, product_name
, manufacturer
, coalesce(nullif(trim(price),''),0) item_price
, coalesce(cast(number_available_in_stock as int),0) number_available_in_stock
, coalesce(cast(number_of_reviews as int),0) number_of_reviews
, coalesce(cast(number_of_answered_questions as int),0) number_of_answered_questions
, cast(substr(average_review_rating,1,3) as float8) avg_review_rating_num
, coalesce(amazon_category_and_sub_category, 'None') category_and_sub_category
, description
, product_information
, product_description
, items_customers_buy_after_viewing_this_item
, customer_questions_and_answers
FROM prod_clean
WHERE uniq_id is not null 
AND length(uniq_id) > 1)
GROUP BY 1
ORDER BY popularity_rank ASC
"""

# DISTINCT CASE
# WHEN stock_level = 0 THEN 'Out of Stock' 
# WHEN stock_level BETWEEN 1 AND 15 THEN 'Low Stock'
# WHEN stock_level BETWEEN 16 AND 30 THEN 'Medium Stock'
# WHEN stock_level BETWEEN 30 AND 45 THEN 'High Stock'
# WHEN stock_level  > 46 THEN 'Very High Stock'
# END AS current_stock

# understanding product pricing
prod= """
SELECT
DISTINCT CASE
WHEN stock_level = 0 THEN 'Out of Stock' 
WHEN stock_level BETWEEN 1 AND 15 THEN 'Low Stock'
WHEN stock_level BETWEEN 16 AND 30 THEN 'Medium Stock'
WHEN stock_level BETWEEN 30 AND 45 THEN 'High Stock'
WHEN stock_level  > 46 THEN 'Very High Stock'
END AS current_stock
,SUM(CASE WHEN item_price = 0 THEN 1 ELSE 0 END) AS free_item
, SUM(CASE WHEN item_price BETWEEN 1 AND 20 THEN 1 ELSE 0 END) AS price_0_TO_20
, SUM(CASE WHEN item_price BETWEEN 21 AND 40 THEN 1 ELSE 0 END) AS price_21_TO_40
, SUM(CASE WHEN item_price BETWEEN 41 AND 60 THEN 1 ELSE 0 END) AS price_41_TO_60
, SUM(CASE WHEN item_price BETWEEN 61 AND 80 THEN 1 ELSE 0 END) AS price_61_TO_80
, SUM(CASE WHEN item_price BETWEEN 81 AND 100 THEN 1 ELSE 0 END) AS price_81_TO_100
, SUM(CASE WHEN item_price BETWEEN 101 AND 120 THEN 1 ELSE 0 END) AS price_101_TO_120
, SUM(CASE WHEN item_price BETWEEN 121 AND 140 THEN 1 ELSE 0 END) AS price_121_TO_140
, SUM(CASE WHEN item_price BETWEEN 141 AND 160 THEN 1 ELSE 0 END) AS price_141_TO_160
, SUM(CASE WHEN item_price > 160 THEN 1 ELSE 0 END) AS price_160_plus
FROM (
SELECT uniq_id
, product_name
, manufacturer
, coalesce(cast(nullif(substr(price,2,length(price)),'') as float8),0) item_price
, coalesce(cast(number_available_in_stock as int),0) stock_level
, coalesce(cast(number_of_reviews as int),0) number_of_reviews
, coalesce(cast(number_of_answered_questions as int),0) number_of_answered_questions
, cast(substr(average_review_rating,1,3) as float8) avg_review_rating_num
, coalesce(amazon_category_and_sub_category, 'None') category_and_sub_category
, description
, product_information
, product_description
, items_customers_buy_after_viewing_this_item
, customer_questions_and_answers
FROM prod_clean
WHERE uniq_id is not null 
AND length(uniq_id) > 1)
GROUP BY 1
"""

In [49]:
mysql(prod)

,current_stock,free_item,price_0_TO_20,price_21_TO_40,price_41_TO_60,price_61_TO_80,price_81_TO_100,price_101_TO_120,price_121_TO_140,price_141_TO_160,price_160_plus
0,None,0,5,0,0,0,0,0,0,0,0
1,High Stock,9,129,27,15,2,0,0,0,0,0
2,Low Stock,1125,3988,764,227,83,48,27,23,13,65
3,Medium Stock,29,530,123,35,21,8,3,1,3,6
4,Out of Stock,271,1656,283,73,30,26,13,12,8,40
5,Very High Stock,1,36,9,4,3,1,0,0,0,0

In [8]:
mysql(category)

,category_lvl_1,avg_rating,avg_reviews,avg_questions_answered,count_of_products,popularity_rank
0,"Storage, Cleaning & Ring Sizers",4.500000,802.000000,23.000000,1,1
1,Bedding & Linens,4.100000,299.000000,39.000000,1,2
2,Camping & Hiking,4.200000,77.000000,11.000000,1,3
3,"Sweets, Chocolate & Gum",4.450000,64.500000,1.500000,2,4
4,"Pens, Pencils & Writing Supplies",4.385714,25.142857,2.428571,7,5
5,Pretend Play,4.664444,23.355556,2.444444,45,6
6,Men,4.100000,18.000000,3.000000,1,7
7,Puppets & Puppet Theatres,4.729740,14.973978,1.152416,269,8
8,Sports Toys & Outdoor,4.577419,14.924731,2.212366,372,9
9,Musical Toy Instruments,4.594737,14.526316,1.210526,19,10
10,Games,4.661301,13.619554,1.530287,941,11
11,Bags,4.600000,12.500000,1.500000,4,12
12,,4.732018,11.571014,1.704348,690,13
13,Baby & Toddler Toys,4.676415,11.273585,1.735849,106,14
14,Arts & Crafts,4.689277,11.134663,2.500000,802,15
15,Characters & Brands,4.685908,10.951042,1.633333,960,16
16,Fancy Dress,4.615897,10.738462,1.652991,585,17
17,Medication & Remedies,4.500000,10.500000,1.000000,2,18
18,Electronic Toys,4.250000,10.400000,2.800000,5,19
19,Party Supplies,4.718588,7.605187,1.557637,694,20
20,Figures & Playsets,4.715537,7.248425,1.547255,1111,21
21,Cooking & Dining,4.600000,7.000000,2.500000,4,22
22,Jigsaws & Puzzles,4.730657,6.291971,1.386861,274,23
23,Worlds Apart,4.666667,5.000000,1.000000,3,24
24,Die-Cast & Toy Vehicles,4.764889,4.519247,1.536446,1221,25
25,Hobbies,4.737432,4.454235,1.728142,1464,26
26,Women,4.333333,4.000000,2.000000,3,27
27,Dolls & Accessories,4.813208,3.539084,1.485175,371,28
28,Office Supplies,4.466667,3.166667,1.666667,6,29
29,Gardening,4.833333,3.000000,1.333333,3,30
30,Home Accessories,4.460000,2.800000,1.600000,5,31
31,Educational Toys,4.433333,2.666667,1.333333,3,32
32,Indoor Lighting,5.000000,2.500000,1.000000,2,33
33,Novelty Jewellery,5.000000,2.000000,2.000000,1,34
34,Handbags & Shoulder Bags,4.000000,2.000000,1.000000,1,35
35,Sex & Sensuality,4.000000,2.000000,1.000000,1,35
36,Novelty & Special Use,4.818182,1.363636,1.545455,11,36
37,Dogs,5.000000,1.000000,3.500000,2,37
38,Supporters' Gear,4.500000,1.000000,1.500000,2,38
39,Car Parts,5.000000,1.000000,3.000000,1,39
40,"Laundry, Storage & Organisation",5.000000,1.000000,1.000000,1,39
41,"Jams, Honey & Spreads",4.000000,1.000000,1.000000,1,40
42,Lab & Scientific Products,4.000000,1.000000,1.000000,1,40
43,Medical Supplies & Equipment,4.000000,1.000000,1.000000,1,40